################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.dbmdl
/GestorCuentas/GestorCuentas.Database/GestorCuentas.Database.jfm
/GestorCuentas/.idea/.idea.GestorCuentas/.idea
