@page "/dashboard"
@rendermode InteractiveServer


<PageTitle>Dashboard</PageTitle>

<div class="container py-4">
    <h1 class="display-6">Dashboard</h1>
    <AuthorizeView>
        <Authorized Context="authState">
            <p class="text-muted">Hola, Aquí verás un resumen de tu actividad.</p>
        </Authorized>
    </AuthorizeView>
    <p class="text-muted">Próximamente verás aquí un resumen de tu actividad.</p>
</div>
